*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container{
    display: flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 300px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 20px;
}
.bars:hover{
    cursor: pointer;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background: lightblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightblue;
    color: #000;
    
}

  /* tr:nth-child(even) {
    background-color: #D6EEEE;
  } */
  tr {
    border-bottom: 1px solid #000;
    cursor: pointer;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 40px;
    border: 1px solid rgb(187, 187, 187);
  border-radius: 10px;
  }
  thead tr:hover {background-color: #000000;}
  tr:hover {background-color: #D6EEEE;}
  .upcomingrides{
    padding-top: 20px;
  }

  thead{
    background-color: #000;
    color: white;
  }
  .title{
    padding-bottom: 10px;
    text-align: left;
    display: flex;
  }
  