.container{
    
    display: flex;
    flex-direction: row;
    margin: auto;
    
    
}
.container1{
    margin-top: 150px;
    width: 50%;
}
.container2{
width: 50%;
background-color: rgb(0, 132, 255);
height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: rgb(19, 16, 228);
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background-color: blue;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: rgb(224, 224, 224);
    border-radius: 6px;
}
.input img{
    width: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.container2 img{
    padding-top: 100px;
}

.submit-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px auto;
    align-items: center;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}